block vars
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='robots', content='follow,index')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    title= title
    meta(name='keywords', content=keywords)
    meta(name='description', content=description)
    //- facebook
    meta(property='fb:app_id', content='')
    meta(property='og:url' content='')
    meta(property='og:type', content='website')
    meta(property='og:title', content=title)
    meta(property='og:description', content=description)
    meta(property='og:image', content='')
    meta(property='og:locale', content='ja_JP')

    block head

  body
    block content
